@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,italic,500,700);
body {
    font-family: "Roboto";
    font-size: 16px;
    background: linear-gradient(rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.9)),url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

ul {
    margin-left: -40px;
}

li {
    list-style-type: none;
}
.logo{
    height: 50px;
    margin: 25px 0px 0px 50px;
}
.logo:hover{
    filter: brightness(0) invert(1);
    margin-top: 27px;
    margin-bottom: -2px;
    transition-duration: .2s;
}

.container {
    position: relative;
    display: block;
    width: 450px;
    margin: 50px auto;
    padding: 16px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 4px;
}
.container h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 28px;
}
.container .form-element {
    position: relative;
    margin: 0 auto;
    padding-bottom: 16px;
}
.form-element input {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 16px 20px 0 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #ffffff;
}
.floating-label {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 20px;
    font-size: 18px;
    cursor: text;
    color: #8c8c8c;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
        -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
        -o-transform 0.1s ease;
}
.btn {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #e50914;
}
input:focus ~ .floating-label,
input:valid ~ .floating-label {
    font-size: 11px;
    top: 7px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.turcomemberbg{
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin-left: 165px;
    margin-top: -109px;
    display: block;
    position: absolute;
    user-select: none;
    background: linear-gradient(to right, #4776e6, #8e54e9);
    z-index: 1;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}